.btn {
   background-color: rgb(158, 122, 73);
   color: white;
}
body {
    background-color: black;
    color: rgb(158, 122, 73);
}
.card{
    background-color: black;
}
header{
    background-color: black;
    color: rgb(158, 122, 73);
}
main{
    color: rgb(158, 122, 73);
}
footer{
    color: rgb(158, 122, 73);
}
.border{
    border-color: rgb(158, 122, 73) !important;
}
a{
    color: rgb(158, 122, 73) !important;

}
input{ 
    background-color: black !important;
    color: rgb(158, 122, 73) !important;
}
textarea{ 
    background-color: black !important;
    color: rgb(158, 122, 73) !important;
}


